# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
lenv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Local testing
test/

# API keys
google_vision.json

# Images
*.png
*.jpg
*.jpeg

ascii.txt

# Our configuration files
config.py


# Video files
*.mp4
*.avi
*.mov
*.mkv